body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar .right img {
    width: 1.15rem;
    height: 1.15rem;
}

.right {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    margin: 10px 0 20px 0;
    /* position: fixed;
    z-index: 100;
    background-color: white;
    width: 92%;
    margin: 20px 0; */
}

.navbar a {
    text-decoration: none;
    color: black;
}
.navbar a:hover {
    /* text-decoration: underline; */
    border-bottom: 1px solid black;
    opacity: 0.7;
}

.navbar .hamburger {
    width: 50px;
    height: 50px;
    display: none;
}

.navbar .bar {
    background-color: black;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
}

/*MAIN CONTAINER*/
.container {
    max-width: 90%;
    margin: 0 auto;
}

/*MODAL CONTACT FORM*/
.modal-content {
    color: black;
}
.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
}

.modal-header h5 {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 100;
}

.modal-header .btn-close {
    transform: scale(1);
}

.group {
    position: relative;
}

.modal-body .group {
    margin-bottom: 30px;
}

.modal-body .group input {
    font-size: 13px;
    height: 25px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    color: black;
    background: rgba(0, 0, 0, 0);
    opacity: 0.5;
    transition: 0.2s ease;
}

.modal-body .group textarea {
    border: 1px solid black;
    opacity: 0.5;
}

.modal-body .group textarea:focus {
    outline: none;
    opacity: 1;
    color: black;
}

.modal-body input:focus {
    outline: none;
    opacity: 1;
    color: black;
}

.modal-body label {
    color: black;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 0px;
    opacity: 0.5;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; 
}

.modal-body button {
    opacity: 1;
    transition: 0.2s ease;
    padding: 6px 6px;
}

.modal-body button:hover {
    opacity: 0.5;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -19px;
    font-size: 12px;
    color: black;
    opacity: 1;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

textarea:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from {
        background: #B1B1B1;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #B1B1B1;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #B1B1B1;
    }

    to {
        width: 0;
        background: transparent;
    }
}
/*MODEL CONTACT FORM END */ 


/*GRID */
.grid-container {
    display: grid;
    width: 95%;
    grid-template-areas: 
    'eth eth alphabet'
    'eth eth traveler'
    'cube cube traveler'
    'cup insta insta'
    'cup insta insta'
    'foam foam dimensional'
    'foam foam dimensional'
    ;
    gap: 26px;
    margin: 0 auto;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    font-weight: bold;
    font-size: 2.15rem;
    letter-spacing: 0.4rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease;
    text-transform: uppercase;
}
.overlay:hover {
    color: rgba(0, 0, 0, 1);
    /* cursor: pointer; */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.overlay ul {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1.5rem 0;
    padding: 0;
}

.overlay li {
    font-size: 1.5rem;
    margin: 0 1rem;
    font-weight: 400;
    font-size: 2rem;
}

.overlay li a {
    color: inherit;
    text-decoration: none;
    text-transform: none;
}

.overlay li a:hover {
    opacity: 0.7;
    border-bottom: 1px solid black;
}

/*SLIDER LEFT*/
.tag-container:before {
    content: 'CSS';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: rgb(0, 0, 0); 
    color: white;
    /* top: 35.5px; */
    top: 80px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    left: -82px;
    font-size: 20px;
    font-weight: bold;
    transform: translateX(50px) rotate(270deg);
    z-index: -10; 
    transition: all 0.3s ease;
}
.tag-container:hover:before {
    transform: translateX(20px) rotate(270deg);
}

.tag-container:after {
    content: 'HTML';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-left: 4px;
    width: 60px;
    height: 45px;
    border-left: 5px solid black;
    background-color: white;
    top: 0;
    left: -50px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    transform: translateX(50px);
    z-index: -10;
    transition: all 0.3s ease;
}
.tag-container:hover:after {
    transform: translateX(-15px);
    color: black;
}

/*SLIDER RIGHT*/ 
.tag-container-right:before {
    content: 'React';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    top: 35.2px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    transform: translateX(50px) rotate(90deg);
    z-index: -10;
    transition: all 0.3s ease;
}
.tag-container-right:hover:before {
    transform: translateX(75px) rotate(90deg);
}

.cube .tag-container:before {
    content: 'Vanilla';
}

.cube .tag-container:after {
    content: 'JS';
}

.traveler .tag-container-right:before {
    content: 'Vanilla JS';
    width: 115px;
    top: 42.5px;
    right: 7.5px;
}

/*INDIVIDUAL GRID ITEMS*/
.eth {
    grid-area: eth;
    transition: all 0.2s ease;
    position: relative;
}
.eth:hover {
    transform: scale(0.98);
}

.alphabet {
    grid-area: alphabet;
    position: relative;
    transition: all 0.2s ease;
}
.alphabet:hover {
    transform: scale(0.98);
}

.traveler {
    grid-area: traveler;
    position: relative;
    transition: all 0.2s ease;
}
.traveler:hover {
    transition: all 0.2s ease;
}

.cube {
    grid-area: cube;
    position: relative;
    transition: all 0.2s ease;
}
.cube:hover {
    transform: scale(0.98);
}

/* .astro {
    grid-area: astro;
    position: relative;
} */
/* .astro:hover {
    opacity: 0.7;
    color: white;
} */

.cup {
    grid-area: cup;
    position: relative;
}
.cup:hover {
    opacity: 0.7;
}

.insta {
    grid-area: insta;
    position: relative;
}
.insta:hover {
    opacity: 0.7;
    color: white;
}

.foam {
    grid-area: foam;
    position: relative;
}
.foam:hover {
    opacity: 0.7;
}

.dimensional {
    grid-area: dimensional;
    position: relative;
}
.dimensional:hover {
    opacity: 0.7;
    color: white;
}

.footer p {
    text-align: center;
    padding: 20px 0;
}

@media only screen and (max-width: 1050px) and (min-width: 950px) {
   .alphabet .overlay {
    font-size: 1.15rem;
   }
   .traveler .overlay {
       font-size: 1.15rem;
   }
   .astro .overlay {
       font-size: 1.15rem;
   }
   .cube .overlay {
       font-size: 1.15rem;
   }
   .cup .overlay {
       font-size: 1.15rem;
   }
   .dimensional .overlay {
       font-size: 1.15rem;
   }
}

@media only screen and (max-width: 950px) {
    .grid-container {
        width: 100%;
        max-width: 100%;
        grid-template-areas:
            'eth eth'
            'eth eth'
            'alphabet traveler'
            'cube astro'
            'insta insta'
            'cup foam'
            'dimensional dimensional'
        ;
        gap: 16px;
        }
}

@media only screen and (max-width: 800px) {
    .navbar .right {
        display: none;
    }
    .navbar {
        padding: 16px 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: white;
        width: 100%;
        padding: 16px 33px;
        box-sizing: border-box;
    }

    .navbar .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .grid-container {
        margin-top: 100px;
        grid-template-areas:
            'eth eth'
            'alphabet alphabet'
            'traveler traveler'
            'cube astro'
            'insta insta'
            'cup cup'
            'foam foam'
            'dimensional dimensional'
        ;
        gap: 16px;
    }
    .cube .overlay {
        font-size: 1.15rem;
    }
    .astro .overlay {
        font-size: 1.15rem;
    }
}

@media only screen and (max-width: 480px) {
    .left h1 {
        font-size: 1.5rem;
    }
}
